*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-color: rgb(197, 160, 215);
    background-image: url("https://imgur.com/a/6P7harD");
}

.main {
    position: absolute;
    background-color: rgb(234, 181, 255);
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#biglink{
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 370px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#shorten{
    position: relative;
    top: 45%;
    left: 15%;
    height: 45px;
    width: 365px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: purple;
}

#shorten:hover{
    background-color: #000000;
}

#shortlink{
    position: relative;
    top: 50%;
    left: 10%;
    height: 40px;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#copy{
    position: relative;
    top: 55%;
    left: 15%;
    height: 45px;
    width: 365px;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    background-color: purple;
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

#copy:hover{
    background-color: #000000;
}
.main p, .main h1 {
    font-family: fantasy;
    font-style: italic;
}

.main p{
    position: inherit;
    top: -2%;
    left: 18%;
    height: 60px;
    width: 400px;
    font-size: 150px;
    font-weight: bold;
    color: purple;
}

h1{
    position: inherit;
    top: 28%;
    left: 20%;
    height: 60px;
    width: 400px;
    font-size: 35px;
    /*font-weight: bold;*/
    color: purple;

}