body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:lightblue;
}

h1 {
    color: #333333;
    margin-top: 200px;
}

.shortener {
    margin-top: 20px;
}

.shortener input[type="text"] {
    padding: 5px;
    width: 400px;
    text-align: center;
    font-size: 16px;
    background-color:floralwhite;

}

.shortener button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: black;
    border:navy;
    cursor:black;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}