*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono Thin', serif;
}
body{
    background-color: #f1f1f1;
    height: 100vh;
    background-size: cover;
    font-family: sans-serif;
    background-image: url("https://wallpapers.com/images/hd/codes-code-letters-signs-5s8rirnflbfp9oy0.webp");
}
.container{
    /*width: 100%;*/
    /*height: 100vh;*/
    /*padding: 20px;*/
    display: flex;
    flex-direction: row;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}
.inp{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 8px;
}
.output{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 8px;
}
h1 {
    color: #b8e994;
    background-color: #4b6584;
}

label i{
    background-color: #ffffff;
    font-size: 18px;
    color: #000000;
    border: 0;
    outline: 0;
    /*margin-right: 10px;*/
    margin-left: 5px;
    /*margin-top: 10px;*/
}
label{
    display: flex;
    align-items: baseline;
    background: white;
    /*height: 15px;*/
    padding-top: 10px;
}
textarea{
    /*width: 100%;*/
    height: 25vh;
    background-image: url("https://wallpaperaccess.com/full/2525210.jpg");
    color: #a6a6dc;
    /*padding: 10px 20px;*/
    border:0;
    outline: 0;
    /*font-size: 18px;*/
}
iframe{
    width: 100%;
    height: 86vh;
    background: white;
    color: black;
    border: 0;
    outline: 0;
    box-shadow: 0 2px 4px rgba(199, 14, 14, 0.2);
}
.fa-html5{
    color: lightskyblue;
    margin-right: 8px;
}
.fa-square-js{
    color: rgb(215, 208, 129);
    margin-right: 8px;
}
.fa-css3-alt{
    color: #eeab79;
    margin-right: 8px;
}